* {
  box-sizing: border-box;
}
html{
  width:100%;
  height:99%;
  margin:0;
  padding:0;
}
body {
	background-color: #F5F5F5;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
#start{
  width:100%;
  height:5%;
}
input{
  width:100%;
  /*height:5%;*/
  float: left;
  clear: left;

}
#inputContainer{
  width:100%;
  height:auto;
  float: left;
  clear: left;
  overflow: hidden;
  
}
#inputContainer select{
    width:110%;
   background: transparent;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 100;
   border: 1px solid #ccc;
}
#importButton {
    width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#importButton +label{
      display: inline-block;
      vertical-align: middle;
  text-align: center;
    width:100%;
    height:5%;
    font-size: 1.25em;
    font-weight: 700;
    /*#18afe3*/
    color: white;
    background-color: #094b85;

    cursor: pointer;
}
#leftHalf {
  display: block;
  float: left;
  width: 20%;
  height:100%;
}
#rightHalf{
  display: block;
  float:right;
  width:80%;
  height:100%;

}

.svg {
  
  width:100%;
  height:100%;
}

.controls {
  
  width: 100%;
  height:100%;

}
.svg circle {
  fill: #C7D0D5;
  stroke: #556270;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 8px;
}