* {
  box-sizing: border-box;
}
html{
  width:100%;
  height:99%;
  margin:0;
  padding:0;
}
body {
  background-color: #F5F5F5;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: "PT Sans Caption", sans-serif;
}

#buttonCenter {
  text-align: center;
  height:100%;
}
#buttonContainer {
  display: inline-block;
  width:50%;
  height: 100%;
}
.menubutton{
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width:100%;
  height:5%;
  font-size: 2vh;
  font-weight: 700;
    /*#18afe3*/
  color: white;
  background-color: #094b85;
  cursor: pointer;
  text-decoration: none;
}
.menubutton:disabled{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width:100%;
  height:5%;
  font-size: 2vh;
  font-weight: 700;
    /*#18afe3*/
  color: white;
  background-color: grey;
  cursor: default;
}
div.menutitle {
  height:20%;
  margin-top: 20%;
}
p.menutitle {
  display: inline;
  padding:0px;
/*  margin-top: 25%;*/
  font-size: 7vh;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
}
p.t1 {
  color: #18afe3;
}
p.t2 {
  color: #094b85;
}
.buttontext {
  margin-top: 2%;
}