body{
	background:black;
}

#solarsystem{
	position:absolute;
	display:block;
	width:600px;
	height:600px;
}


.planet {
	  display: block;
  border-radius: 50%;
 
  margin: 0;
  position:absolute;
}
#sun {
 height: 100;
  width: 100;
	top:250px;
	left:250px;
	background: -webkit-radial-gradient(100px 100px, circle, #c22313, #f47321);
  background: radial-gradient(100px 100px, circle, #c22313, #f47321);
}

 #sun:before{
  content: "";
  position: absolute;
  top: 0.5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: -webkit-radial-gradient(50% 0px, circle, #fff813, rgba(253, 184, 19, 0) 58%);
 
  z-index: 2;
}
#earth {
 height: 25;
  width: 25;
	top:287.5px;
	left:487.5px;
	-webkit-transform-origin: -200px 0px;

	background:blue;
	-webkit-animation: orbit 5s linear infinite;
}
#mercury {
 height: 5;
  width: 5;
	top:297.5px;
	left:367.5px;
	-webkit-transform-origin: -70px 0px;

	background:#ced0b9;
	-webkit-animation: orbit 1s linear infinite;
}
#venus {
 height: 8;
  width: 8;
	top:392px;
	left:292px;
	-webkit-transform-origin: 0px -100px;

	background:crimson;
	-webkit-animation: orbit 1.7s linear infinite;
}
#mars {
 height: 15;
  width: 15;
	top:292.5px;
	left:542.5px;
	-webkit-transform-origin: -250px 0px;

	background:#c53a21;
	-webkit-animation: orbit 9s linear infinite;
}
#jupiter {
 height: 60;
  width: 60;
	top:270px;
	left:710px;
	-webkit-transform-origin: -440px 0px;

	background:yellow;
	-webkit-animation: orbit 15s linear infinite;
}
#saturn {
 height: 50;
  width: 50;
	top:275px;
	left:890px;
	-webkit-transform-origin: -615px 0px;

	background:orange;
	-webkit-animation: orbit 19s linear infinite;
}
#uranus {
 height: 35;
  width: 35;
	top:282.5px;
	left:1035px;
	-webkit-transform-origin: -752.5px 0px;

	background:#26a2b0;
	-webkit-animation: orbit 17s linear infinite;
}
#neptune {
 height: 45;
  width: 45;
	top:1210px;
	left:277.5px;
	-webkit-transform-origin: 0px -932.5px;

	background:#514e86;
	-webkit-animation: orbit 15s linear infinite;
}

@-webkit-keyframes orbit{
	0%{
		-webkit-transform: rotateZ(0deg);
	}
	50%{
		-webkit-transform: rotateZ(180deg);
	}
	100%{
		-webkit-transform: rotateZ(360deg);
	}
}